.services-section {
  padding: 120px 20px;
  background: radial-gradient(circle at top,  #ffffff, #ffffff);
  color: #fff;
   scroll-margin-top: 2rem;
}

.services-container {
  max-width: 1200px;
  margin: auto;
}

.services-header {
  text-align: center;
  margin-bottom: 80px;
    font-family: 'Poppins', sans-serif;
}

.services-tag {
  color: #805dff;
  font-size: 15px;
  letter-spacing: 2px;
  display: block;
   font-weight: 700;
  margin-bottom: 14px;
    font-family: 'Poppins', sans-serif;
}

.services-title {
  font-size: 40px;
  font-weight: 800;
  color: #000;
  margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.services-subtitle {
  color: #000000;
  max-width: 650px;
  margin: auto;
  font-size: 15px;
  line-height: 1.7;
    font-family: 'Poppins', sans-serif;
}

/* GRID */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 32px;
}

/* CARD */
.service-card {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  border:0.5px solid black;
  padding: 32px;
  border-radius: 20px;
  transition: all 0.35s ease;
  overflow: hidden;
}

.service-card:hover {
  transform: translateY(-10px);
  border-color: rgba(95, 61, 247, 0.5);
  background: rgba(169, 169, 229, 0.8);
    border: 2px solid #8282e2;
}

/* HOVER OVERLAY */
.service-overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.05);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.service-card:hover .service-overlay {
  opacity: 1;
}

/* ICON */
.service-icon {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  background: rgba(59, 130, 246, 0.1);
  color: #3b82f6;
  margin-bottom: 24px;
  transition: all 0.3s ease;
}

.service-card:hover .service-icon {
  background: #3b82f6;
  color: #fff;
}

/* TEXT */
.service-name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #000;
  transition: color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.service-card:hover .service-name {
  color:  #5f2d9c;
}

.service-desc {
  font-size: 14px;
  color: #000000;
  line-height: 1.7;
    font-family: 'Poppins', sans-serif;
  margin-bottom: 24px;
}

/* IMAGE */
.service-image {
  height: 130px;
  border-radius: 12px;
  overflow: hidden;
  transition: opacity 0.3s ease;
}

.service-card:hover .service-image {
  opacity: 1;
}

.service-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.service-card:hover .service-image img {
  transform: scale(1.1);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .services-title {
    font-size: 30px;
    font-weight: 700px;
  }

  .services-section {
    padding: 80px 16px;
  }
}
/* ===== Mobile fix: remove black overlay ===== */
@media (max-width: 768px) {
  .service-overlay {
    opacity: 0 !important;
    pointer-events: none;
  }
}

