
html,
body {
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* =============================
   GLOBAL SCROLLBAR STYLING
============================= */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f2f2f2; /* track color */
}

::-webkit-scrollbar-thumb {
  background-color: #805dff; /* thumb color */
  border-radius: 8px;
  border: 2px solid #f2f2f2;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5b3ee8;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #805dff #f2f2f2;
}
